@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base page look */
:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #070A12; /* ambient dark */
}
